
<!-- </div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Yash</p>
  </div>
</div>
</body>
</html> -->
<!------------- Footer Starts ------------------->
<div class="footer">
  <div class="copyright-text">
    © Copyright 2021 .MyBlog
  </div>

  <div class="contact-us">
      CONTACT&nbsp;US &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/profile.php?id=100015862983639" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a class="fa fas fa-envelope " href="mailto:yashagarwal94144@gmail.com"></a>
      <a href="https://www.linkedin.com/in/yash-agarwal-759bb8201/" class="fa fa-linkedin"></a>
  </div>
</div>
<!--------------- Footer Ends ----------------->
</body>
</html>