<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>.MyBlog</title>
  <meta charset="utf-8">
  <link rel="icon" href="/Images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/home.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arapey&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap"
      rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">

  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/25c9d39a22.js" crossorigin="anonymous"></script>

  <div class="pre-loader">

  </div>
  
  <!-------------- Navbar section Starts ------------->
  <div class="navbar-container">
    <h2 class="site-name">.MyBlog</h2>

    <div class="right-nav">
        <a class="nav-item" href="/" style="text-decoration: none;"><i class="fas fa-home" style="font-size: 15px"></i> Home</a>
        <a class="nav-item" href="/homePage" style="text-decoration: none;"><i class="fab fa-blogger" style="font-size: 15px"></i> Blogs</a>
        <a class="nav-item" href="/compose" style="text-decoration: none;"><i class="fas fa-plus" style="font-size:15px"></i> Blog</a>
        <a class="nav-item" href="/contact" style="text-decoration: none;"><i class="fas fa-address-book" style="font-size:15px"></i> Contact Us</a>
        <!-- <a class="nav-item" href="/about" style="text-decoration: none;"><i class="fas fa-info-circle" style="font-size:15px"></i> About Us</a> -->
    </div>
</div>
</head>
<!-------------- Navbar section Ends ------------->
<body>
    