<%- include("partials/header") -%>
    <div class="blog-page-container">
        <h1>Thank you <i class="far fa-smile"></i></h1>
        <h2>Your request has been submitted successfully.</h2>
    </div>
    <%- include("partials/footer") -%>